/* Dark mode colors. */
:root {
    --sl-color-accent-low: #072d00;
    --sl-color-accent: #247f00;
    --sl-color-accent-high: #aad7a0;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eaf0e8;
    --sl-color-gray-2: #bdc4bb;
    --sl-color-gray-3: #82907f;
    --sl-color-gray-4: #4f5c4d;
    --sl-color-gray-5: #303c2d;
    --sl-color-gray-6: #1f2a1c;
    --sl-color-black: #151a13;
}
/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #c0e2b8;
    --sl-color-accent: #237b00;
    --sl-color-accent-high: #0d3e00;
    --sl-color-white: #151a13;
    --sl-color-gray-1: #1f2a1c;
    --sl-color-gray-2: #303c2d;
    --sl-color-gray-3: #4f5c4d;
    --sl-color-gray-4: #82907f;
    --sl-color-gray-5: #bdc4bb;
    --sl-color-gray-6: #eaf0e8;
    --sl-color-gray-7: #f4f7f3;
    --sl-color-black: #ffffff;
}

/* Utility classes */
.text-primary {
    color: var(--sl-color-white);
}

.text-secondary {
    color: var(--sl-color-gray-3);
}

.text-tertiary {
    color: var(--sl-color-gray-4);
}

.text-accent {
    color: var(--sl-color-accent);
}

.text-accent-high {
    color: var(--sl-color-accent-high);
}

.bg-default {
    background-color: var(--sl-color-white);
}

.bg-card {
    background-color: var(--sl-color-gray-6);
}

.bg-accent-low {
    background-color: var(--sl-color-accent-low);
}

.bg-accent {
    background-color: var(--sl-color-accent);
}

.border-card {
    border-color: var(--sl-color-gray-5);
}
